.position {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.form-navbar {
  width: 50%;
}

.navbar-nav {
  width: 100%;
}

.input-search {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media screen and (max-width: 468px) {
  .input-search {
    margin-top: 1rem;
  }
}
