.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  text-align: center;
}

.width-item {
  width: 2.75rem;
}

@media screen and (max-width: 468px) {
  .collapsed {
    margin: auto;
  }

  .hide {
    display: none;
  }

  .search {
    width: 100%;
    margin: auto;
  }
}
